# Atom
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
# Coc
config.symlink/coc
# iTerm
config.symlink/iterm2/AppSupport
# Fish
config.symlink/fish/fishd*
config.symlink/fish/functions/
# NeoVim
config.symlink/nvim-undo/
config.symlink/nvim/.netrwhist
config.symlink/nvim/autoload/
config.symlink/nvim/plugged/
# Yarn
config.symlink/yarn/global/node_modules
config.symlink/yarn/global/yarn.lock
# Yarn/NPM packages
config.symlink/configstore
config.symlink/gatsby
